<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BiahsJewels.Mvc</title>
    @*Bootstrap 5*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BiahsJewels.Mvc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
         @await Html.PartialAsync("PartialViews/_Header")
    </header>
    <div class="container">
        <main role="main">
            @if (Context.Request.Path.StartsWithSegments("/Store/ProductDetail") || Context.Request.Path.Equals("/ShoppingCart") || Context.Request.Path.Equals("/ProductsLiked") || Context.Request.Path.Equals("/Profile"))
            {
                <button class="back-button" id="backBtn" onclick="goBack()">Back</button>
            }
            @RenderBody()
        </main>
    </div>
    <footer class="bg-dark">
        @await Html.PartialAsync("PartialViews/_Footer")
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
