@using BiahsJewels.Mvc.Models
@model Product

<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Do you realy want to delete @Model.Name</h2>
                @Model.Id
                <!-- Add your form elements here -->
                <form method="post" asp-controller="Products" asp-action="DeleteProduct" id="deleteProductForm">
                    <div class="modal-footer">
                        <input type="hidden" name="id" asp-for="@Model.Id" id="delete-@Model.Id" />
                        <button type="submit" class="btn btn-outline-danger" id="deleteProductBtn">Delete Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>