@using BiahsJewels.Mvc.Models.ViewModel
@model CreateProductVm;

<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="createProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProductModalLabel">Create Product</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add your form elements here -->
                <form enctype="multipart/form-data" asp-controller="Products" asp-action="CreateProduct" id="createProductForm">
                    <div class="form-group">
                        <label asp-for="Product.Name">Product Name</label>
                        <input asp-for="Product.Name" type="text" class="form-control" id="productName" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.CategoryId" class="form-label">Select Option:</label>
                        <select asp-for="Product.CategoryId" class="form-select" id="exampleSelect" aria-label="Select option">
                            <option selected>Select an option</option>
                            @foreach(var category in Model.ProductCategories)
                            {
                                <option value="@category.Id">@category.CategoryName</option>
                            }                         
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Description">Product Description</label>
                        <textarea asp-for="Product.Description" class="form-control" id="productDescription" required></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Product.Price">Price</label>
                        <input asp-for="Product.Price" class="form-control" id="productDescription" required>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <label asp-for="Product.ProductImage" class="control-label"> Upload Image </label>
                            <input asp-for="Product.ProductImage" type="file" class="form-control" />
                        </div>         
                    </div>
                    <!-- Add more form fields as needed -->
                    <div class="modal-footer">
                        <button type="reset"class="btn btn-secondary" data-dismiss="modal">Reset </button>
                        <button type="submit" class="btn btn-outline-success" id="createProductBtn">Create Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
