@using BiahsJewels.Mvc.Models
@model Product

<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="createProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProductModalLabel">Create Product</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add your form elements here -->
                <form asp-controller="Products" asp-action="CreateProduct" id="createProductForm">
                    <div class="form-group">
                        <label asp-for="Name">Product Name</label>
                        <input asp-for="Name" type="text" class="form-control" id="productName" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Product Description</label>
                        <textarea asp-for="Description" class="form-control" id="productDescription" required></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" id="productDescription" required>
                    </div>
                    <div class="form-group">
                        <label> Upload Image </label>
                        <input type="file" class="form-control" />
                    </div>
                    <!-- Add more form fields as needed -->
                    <div class="modal-footer">
                        <button type="reset"class="btn btn-secondary" data-dismiss="modal">Reset </button>
                        <button type="submit" class="btn btn-outline-success" id="createProductBtn">Create Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
