<nav class = "navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
        <div class = "container">
             <img src = "images/shopping-bag-icon.png" alt = "site icon">
             <span class = "text-uppercase fw-lighter ms-2">Biah's Jewels</span>

            <div class = "order-lg-2 nav-btns">
                <button type = "button" class = "btn position-relative">
                    <a asp-controller="ShoppingCart" asp-action="Index"> <i class="fa fa-shopping-cart"></i> </a>
                    <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary">@*Products in cart*@2</span>
                </button>
                <button type = "button" class = "btn position-relative">
                    <a asp-controller="ProductsLiked" asp-action="Index"> <i class="fa fa-heart"></i></a>
                    <span class = "position-absolute top-0 start-100 translate-middle badge bg-primary">@*Products liked*@3</span>
                </button>
                <button type = "button" class = "btn position-relative">
                    <i class = "fa fa-search"></i>
                </button>
            </div>

            <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
                <span class = "navbar-toggler-icon"></span>
            </button>

            <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
                <ul class = "navbar-nav mx-auto text-center">
                    <li class = "nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" asp-controller="Store" asp-action="Index">Store</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" asp-controller="Blogs" asp-action="Index">Blogs</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" asp-controller="Profile" asp-action="Index">My Profile</a>
                    </li>
                    <li class = "nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-dark" asp-controller="ContactUs" asp-action="Index">Contact Us</a>
                    </li>
                    <li class= "nav-item px-2 py-2">
                        <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" asp-controller="ProductsInventory" asp-action="Index">Inventory</a>
                                <a class="dropdown-item" asp-controller="Orders" asp-action="Index">Orders</a>
                                <a class="dropdown-item" asp-controller="Consumers" asp-action="Index">Consumers</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</nav>
