@model Product

<div class="col-md-6 col-lg-4 col-xl-3 p-2">
    <div class="special-img position-relative overflow-hidden">
        <img src="images/@Model.ImagePath" class="w-100 productCard-img">
        <span class="position-absolute d-flex align-items-center justify-content-center text-primary fs-4">
            <i class="fas fa-heart"></i>
        </span>
    </div>
    <div class="text-center">
        <div class="rating mt-3">
            <span class="text-primary"><i class="fas fa-star"></i></span>
            <span class="text-primary"><i class="fas fa-star"></i></span>
            <span class="text-primary"><i class="fas fa-star"></i></span>
            <span class="text-primary"><i class="fas fa-star"></i></span>
            <span class="text-primary"><i class="fas fa-star"></i></span>
        </div>
        <a class="text-decoration-none text-dark fw-bold" asp-controller="Store" asp-action="ProductDetail" asp-route-id="@Model.Id">
            <p class="text-capitalize mt-3 mb-1">@Model.Name</p>
        </a>
        <span class="fw-bold d-block">$@Model.Price</span>
        <form asp-controller="ShoppingCart" asp-action="AddProductToCart">
            <button type="submit" class="btn btn-primary mt-3">Add to Cart</button>
            <input type="hidden" value="@Model.Id" name="productId"/>
        </form>
    </div>
</div>