@model List<Product>

@{
}
<!-- collection -->
<section id="collection" class="py-5">
    <div class="container">
        <div class="title text-center">
            <h2 class="position-relative d-inline-block">Store</h2>
        </div>

        <div class="row g-0">
            <div class="d-flex flex-wrap justify-content-center mt-5 filter-button-group">
                <button type="button" class="btn m-2 text-dark active-filter-btn" data-filter="*">All</button>
                <button type="button" class="btn m-2 text-dark" data-filter=".best">Best Sellers</button>
                <button type="button" class="btn m-2 text-dark" data-filter=".feat">Featured</button>
                <button type="button" class="btn m-2 text-dark" data-filter=".new">New Arrival</button>
            </div>

            <div class="collection-list mt-4 row gx-0 gy-3">
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    @foreach (var product in Model)
                    {
                        @await Html.PartialAsync("PartialViews/_ProductCard",product)
                    }
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 p-2 feat">
                    @foreach (var product in Model)
                    {
                        @await Html.PartialAsync("PartialViews/_ProductCard",product)
                    }
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 p-2 new">
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">                  
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 p-2 feat">                    
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 p-2 new">                
                </div>

                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">                   
                </div>           
            </div>
        </div>
    </div>
</section>
<!-- end of collection -->
<!-- special products -->
<section id="special" class="py-5">
    <div class="container">
        <div class="title text-center py-5">
            <h2 class="position-relative d-inline-block">Special Selection</h2>
        </div>

        <div class="special-list row g-0">
            @foreach(var product in Model)
            {
                @await Html.PartialAsync("PartialViews/_ProductCard",product)
            }
        </div>
    </div>
</section>

