@model Product

<div class="container">
    <div class="title text-md-start">
        <h2 class="position-relative d-inline-block">@Model.Name</h2>
    </div>
</div>

@Model.Price
@Model.Rating
<h4>
    In stocks: @Model.QuantityAvailable
</h4>
