@using BiahsJewels.Mvc.Models;

@model Profile
@{
}
<div class="container">
    <div class="title text-md-start">
        <h2 class="position-relative d-inline-block">My Profile</h2>
    </div>
</div>
<div class="container">
    ConsumerId: @Model.Id
    Full Name: @($"{Model.FirstName} {Model.LastName}")
</div>